.carousel {
    margin: 100px auto;
    width: 800px;
    border: 5px solid red;
    border-radius: 12px;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.card {
    display: flex;
    height: 5em;
    width: 6em;
    padding: 1em;
    background: blue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%}
}